
.hero{
     padding: 10px 0px;
     padding-bottom: 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    gap:1rem;
    /* padding-bottom: 10rem; */

}

.hero__img{
        width: 25.6875rem;   
}

.hero__container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
} 

.hero__subtitle{
    color: var(--clr-slate800);
    font-size: var(--size-base);
    line-height: 0.9;
}
    
.hero__title{
    color: var(--clr-slate400);
    text-transform: uppercase;
    font-size: var(--size-7xl);
    letter-spacing: -0.05em;
    line-height: 0.9;
}
    
.hero__description{
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--clr-slate600);
}

.hero__btn{
    text-transform:capitalize;
    font-size: var(--size-sm);
    display: flex;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
}


    /* xs */
    @media (min-width: 475px) {
        .hero{
            gap:1.5rem;
        }

        .hero__container{
            gap: 1.5rem;
        
        }
        
        .hero__subtitle{
            font-size: var(--size-2xl);
        }
        
        .hero__title{
            font-size: var(--size-8xl);
        }
        
        .hero__description{
            font-size: var(--size-base);
        }
        
        .hero__btn{
            font-size: var(--size-base);
        }
        .hero__img{
            width: 25.6875rem;
            
        }


        .hero__btn{
            text-transform: capitalize;
            font-size: var(--size-sm);
            gap: 1rem;
        }

    }
    
    /* sm */
    @media (min-width: 640px) {
        .hero__img{
            width: 28.6875rem;
        }
     
    }
    
    /* md */
    @media (min-width: 768px) {
        .hero__title{
            font-size: var(--size-9xl);
        }

        .hero__img{
            width: 34.6875rem;
            
        }
    
    }
    
    /* lg */
    @media (min-width: 1024px) {

        .hero{
            flex-direction: row;
            justify-content: space-between;
            align-items: center ;
        }
    
        .hero__subtitle{
            font-size: var(--size-4xl);
        }
        
        .hero__title{
            font-size: var(--size-8xl);
        }
        
        .hero__description{
            font-size: var(--size-base);
        }
        
        .hero__btn{
            font-size: var(--size-xl);
        }

        .hero__img{
            width: 30.6875rem;
        }
        
    }
    
    /* xl */
    @media (min-width: 1280px) {  
    
        .hero{
            gap: 2rem;
        }
    
        .hero__subtitle{
            font-size: var(--size-4xl);
        }
        
        .hero__title{
            font-size: var(--size-10xl);
        }
        
        .hero__description{
            font-size: var(--size-xl);
        }
        
        .hero__btn{
            font-size: var(--size-xl);
        }

        .hero__img{
            width: 34.6875rem;
            
        }

        .hero__btn{
            font-size: var(--size-xl);
            padding: 0;
        }
          
    }
    
    /* 2xl */
    @media (min-width: 1536px) {  
        .hero{
            gap: 2rem;
        }
    
        
        .hero__subtitle{
            font-size: var(--size-6xl);
        }
        
        .hero__title{
            font-size: var(--size-10xl);
        }
        
        .hero__description{
            font-size: var(--size-2xl);
        }
        
        .hero__btn{
            font-size: var(--size-xl);
        }


        .hero__img{
            width: 39.6875rem; 
        }

        .hero__btn{
            font-size: var(--size-xl);
            padding: 0;
        }
          
     
    }
    
