form{
    /* margin:1rem; */
    padding: 3rem;
    /* font-size: var(--size-xl); */
    border: 2px double var(--clr-slate600);


}

h1{
    text-align: center;
    color: var(--clr-slate400);
    font-size: var(--size-5xl);
    text-transform: capitalize;
    text-decoration:underline;
    margin: 1rem;
    /* font-family: 'Gill Sans', 'Gill Sans MT',
    ' Calibri', 'Trebuchet MS', 'sans-serif'; */
}


h3 {
    color: var(--clr-slate400);
    font-weight: bold;
    /* border: 1px solid var(--clr-dark); */
    padding:0.5rem;
    text-align: center;
    /* background-color: var(--clr-slate600); */
    font-size: var(--size-2xl);
}


select, input {
    /* display: inline-block; */
    justify-content: center;
    align-self: center;
    text-align: center;
    width: 100%;
    height: 2rem;
    background-color: var(--clr-slate800);
    font-weight: lighter;
    color: var(--clr-light);
}

div{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}

footer{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
 
}
.footer__para{
    color: var(--clr-slate600);
    font-size: var(--size-xl);

}

    

